html {
    font-family: 'Roboto Slab', serif;
    background-color: rgb(241, 236, 224);
    font-size: 12pt;
    scroll-behavior: smooth;
}

header {
    margin: 0;
    text-align: center;
}

body {
    padding: 12pt;
    font-family: "Open Sans", sans-serif;
}

a {
    cursor: pointer;
}

.nametag {
    font-size: 1rem;
    padding: 0.5rem;
    display: block;
    text-align: left;
    margin: auto;
    width: 25%;
    height: 30%;
    background-color: white;
    color: blue;
    border: 5px solid blue;
    border-radius: 15pt;
}

.name{
    text-align: center;
    font-size: 4rem;
    color: black;
}

#links {
    text-align: center;
}

.socialIcon {
    max-width: 2.5em;
    margin: 0 1em;
    /* https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element */
    filter: invert(36%) sepia(13%) saturate(1287%) hue-rotate(78deg) brightness(104%) contrast(90%);

}

.grid{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img.screenshot{
    max-width: 49%;
}